@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
	--font-inter: "Inter", sans-serif;
	--font-outfit: "Outfit", sans-serif;
	--font-mozilla: "Mozilla Headline", sans-serif;
}

/*resets*/
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	background: radial-gradient(
		circle at top,
		#3a7bd5 0%,
		#3a6073 100%
	);
	color: #f5f7fa;
}


#root {
	min-height: 100vh; /* Use min-height to allow content to grow taller */
	/*  mobile browser compatibility */
	min-height: 100dvh;
}
